{% import "components/_icons.njk" as icons %}

<footer class="section pt:72 bg:black color:white">
    <div class="container flex flex:row align-items:center justify-content:between md:gap:48 md:align-items:stretch pb:48">
        <div class="relative flex align-items:center justify-content:center w:100p radius:2xl border-b:1 pb:16 md:pb:0 mb:24 md:mb:0 bg:sheet-4-i ratio:1-1">
            <div>
                <p class="font:12xl font:serif italic">
                    Get in touch
                </p>
            </div>
        </div>
        <div class="relative flex align-items:center justify-content:between w:100p border-b:1 pb:16 md:pb:0 mb:24 md:mb:0">
            <div>
                <a href="/" class="px:10 py:6 ml:n10 mr:16 inline-flex align-items:center justify-content:start radius:full border:1 focus:primary md:mb:4">
                    Kerry
                </a>
            </div>
        </div>
    </div>
</footer>

{#
<div class="flex align-items:center gap:12">
                {% macro footerSocial(link, icon) %}
                    <a href="{{ link }}" class="w:32 h:32 sm:w:40 sm:h:40 flex align-items:center justify-content:center radius:full border:1 focus:primary bg-opacity:50 hover:bg-opacity:100 transition:100 {% if theme == 'dark' %}bg:sheet-1-i hover:color:link-hv-i{% else %}bg:sheet-1 hover:color:link-hv{% endif %}">
                        {{ icon }}
                    </a>
                {% endmacro %}
                {{ footerSocial(
                    link=base.twitterLink,
                    icon=icons.socialTwitter('w:16')
                )}}
                {{ footerSocial(
                    link=base.linkedinLink,
                    icon=icons.socialLinkedin('w:16')
                )}}
                {{ footerSocial(
                    link=base.githubLink,
                    icon=icons.socialGithub('w:18')
                )}}
            </div>
#}