{% import "components/_icons.njk" as icons %}

<footer class="section py:96 sm:py:192 bg:black color:white">
    <div class="container flex flex:col sm:flex:row align-items:center sm:align-items:start justify-content:center tracking:tight sm:h:192 gap:64 sm:gap:96">
        <div class="relative flex flex:col align-items:center sm:align-items:start justify-content:start w:100p h:100p">
            <h2 class="relative w:100p font:12vw sm:font:8xl medium text:center sm:text:left tracking:tighter leading:120 sm:leading:110">I'd <span class="font:serif italic">love</span> to hear from you!</h2>
        </div>
        <div class="relative flex flex:col align-items:center sm:align-items:start justify-content:start w:100p h:100p font:3xl medium">
            <p>LinkedIn</p>
            <p>Resume</p>
            <p>Instagram</p>
            <p>Time portal</p>
        </div>
        <div data-ball class="relative flex flex:col align-items:center justify-content:center w:100p h:224 sm:h:100p bg:rose-md radius:2xl">
            <div class="relative flex flex:col align-items:center justify-content:center font:2xl color:black medium gap:12">
                <p>Drop me a line 💜</p>
                <a href="#" class="relative btn btn:md sm:btn:lg btn:black btn:black:hover">Hey Kerry!</a>
            </div>
        </div>
    </div>
</footer>