{% import "components/_icons.njk" as icons %}

<header data-header class="fixed top:0 sm:top:24 left:0 w:100p z:9 flex align-items:center justify-content:center">
    <div data-header-inner class="relative w:100p sm:max-w:640 pl:24 sm:pl:16 pr:24 sm:pr:12 h:56 bg:white bg-opacity:40 backdrop backdrop-blur:xs radius-bl:18 radius-br:18 sm:radius-bl:full sm:radius-br:full sm:radius-t:full flex align-items:center justify-content:between overflow:hidden shadow:2xl">
        {# Nav Contents #}
        <ul class="relative flex flex:row align-items:center justify-content:between w:100p font:lg medium leading:100">
            <li data-nav-logo>
                <a href="/" class="relative flex flex:row align-items:center justify-content:center gap:8">
                    <div>
                        {{ icons.flower('w:20 color:purple-md') }}
                    </div>
                    <p>Kerry Stilling</p>
                </a>
            </li>
            <li>
                <ul class="relative flex flex:row align-items:center justify-content:center gap:12">
                    <li>
                        <a href="/assets/images/KStilling_Resume.pdf" class="relative btn btn:sm btn:black btn:black:hover" target="_blank">Resume</a>
                    </li>
                    <li>
                        <a href="/hims-how-it-works" class="relative btn btn:sm btn:black btn:black:hover">Latest work</a>
                    </li>
                </ul>
            </li>
        </ul>
</header>