<header class="absolute top:32 left:0 z:10 w:100p h:56 flex flex:col align-items:center justify-content:center sm:px:48 {% if theme == 'dark' %}color:ink-3-i{% endif %}">
    <div class="container flex justify-content:center">
        <h1 class="font:xl medium">Kerry Stilling</h1>
    </div>
</header>