@use "sass:map";
@use "uniform" as *;

.headline { @include apply("leading:110 tracking:tightest"); }

.faded { opacity: 0.85; }


.highlight-red {
    background: rgba(var(--red), 1);
    padding-left: 12px;
    padding-right:12px;
    border-radius: .75rem;
}

.highlight-creme {
    background: #f7f7f0;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: .75rem;
}

.faux-frame {
    border: solid;
    border-color: black;
    border-width: 2px;
    padding-left: 12px;
    padding-right: 16px;
}

$mobile-breakpoint: 768px;

@media screen and (max-width: $mobile-breakpoint) {
    .faux-frame {
        padding-left: 4px;
        padding-right: 8px;
    }

    .highlight-creme {
        padding-left: 12px;
        padding-right: 12px;
    }

    .highlight-red {
        padding-left: 12px;
        padding-right: 12px;
    }
}