@use "sass:map";
@use "uniform" as *;

.headline { @include apply("leading:110 tracking:tightest"); }

.faded { opacity: 0.85; }


.highlight-red {
    background: rgba(var(--red), 1);
    padding-left: 12px;
    padding-right:16px;
    border-radius: .75rem;
}

.highlight-creme {
    background: #f7f7f0;
    padding-left: 12px;
    padding-right:16px;
    border-radius: .75rem;
}

.sm-faux-frame {
    border: solid;
    border-color: black;
    padding-left: 12px;
    padding-right: 16px;
}

.faux-frame {
    border: solid;
    border-color: #f06752;
    padding-left: 4px;
    padding-right: 8px;
}