---
layout: "main.njk"
seoTitle: "Kerry Stilling: Multi Category Landing Page"
seoDescription: "Project overview"
ogTitle: "Kerry Stilling: Multi Category Landing Page"
ogDesc: "Project overview"
ogImage: "/assets/images/og/kerry-og.webp"
ogImageAlt: "branded shapes"
year: "2024"
role: "Design engineer"
category: "Landing page"
theme: light
changefreq: daily
---
{% import "components/_graphics.njk" as graphics %}


<main class="overflow:hidden">
    {# Hero #}
     <section data-marquee-trigger class="section py:96 sm:section:py sm:min-h:100vh bg:creme overflow:hidden">
        {# Marquee #}
        <div class="absolute hidden bottom:n20 sm:bottom:n48 opacity:4 w:100p top:center leading:100 sm:flex align-items:center justify-content:center uppercase font:10xl sm:font:16vw">
            <div data-marquee-title class="relative space:nowrap" style="transform: translateX(224px);">Multi Category Multi Category Multi Category Multi Category Multi Category</div>
        </div>
            <div class="container flex align-items:center justify-content:center">
                <div class="relative flex flex:col flex:col-reverse sm:flex:row align-items:center justify-content:center gap:24 sm:gap:48 sm:gap:96 text:left w:100p h:100p">
                    {# Image #}
                    <div class="relative flex align-items:center justify-content:center w:100p h:320 sm:h:448 radius:2xl overflow:hidden">
                        <div class="absolute w:100p h:100p">
                            <img src="/assets/images/project-multi-hero.webp" class="w:100p h:100p object:cover" alt="cardboard box animating open">
                        </div>
                    </div>
                    {# Hero Content #}
                    <div class="relative w:100p h:100p py:24 sm:min-h:448 flex flex:col-reverse sm:flex:col align-items:start justify-content:between sm:max-w:448 gap:32 sm:gap:none">
                        <div class="relative flex flex:col align-items:start justify-content:center gap:16">
                            <h2 class="font:8xl sm:font:10xl medium leading:90 tracking:tighter"><span class="font:serif italic">Hims<br></span>Multi Category Landing Pages</h2>
                            <p class="relative font:lg leading:160">
                                This campaign aimed to reach potential users who were not already being targeted by our previous efforts. I was responsible for the design and development of these new campaign pages that aimed to increase brand awareness.
                            </p>
                            <a href="https://hims-better-sex-quiz.webflow.io" class="relative btn btn:md btn:black btn:black:hover" target="_blank">View page</a>
                        </div>
                        <div class="relative flex flex:col align-items:center justify-content:center text:left w:100p">
                            <div class="relative flex sm:flex:row align-items:center justify-content:between w:100p bg:rose-md bg-opacity:70 radius:full py:12 px:24 font:xs sm:font:sm tracking:normal">
                                <p><span class="medium">Role: </span> {{ role }}</p>
                                <p><span class="medium">Project type: </span> {{ category }}</p>
                                <p class="medium hidden sm:block">{{ year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    {# Opening Section #}
    <section class="section section:py bg:rose-md bg-opacity:20 radius:2xl sm:radius:6xl sm:radius-bl:none sm:radius-br:none">
        <div class="container flex align-items:center justify-content:center">
            <div class="relative w:100p flex flex:col align-items:center justify-content:center">
                {# Content #}
                <div class="relative w:100p flex flex:col sm:flex:row align-items:start justify-content:between gap:24 sm:gap:none mb:48 sm:mb:72">
                    <h3 class="font:7xl medium leading:100 tracking:tight w:100p">
                        Project overview
                    </h3>
                    <p class="w:100p relative font:lg leading:160 max-w:448">
                        Historically, Hims' digital ads were category-specific, targeting users with ads for a single line of care such as erectile dysfunction, hair regrowth, or anxiety. This campaign aimed to reach potential users who were not already being targeted by our previous efforts.
                    </p>
                </div>
                {# Graphics #}
                <div class="relative w:100p flex align-items:center justify-content:center h:100p max-h:384 sm:max-h:512 radius:2xl overflow:hidden">
                    <img src="" alt="">
                    <picture class="relative h:100p">
                        <source media="(min-width: 768px)" srcset="/assets/images/project-multi-intro-d.webp">
                        <source media="(max-width: 767px)" srcset="/assets/images/project-multi-intro-m.webp">
                        <img src="/assets/images/hiw_project_1_d.webp" class="relative w:100p h:auto object:cover" loading="lazy" width="1120" height="512" alt="How it works project">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {# Deep Dive #}
    <section class="section section:pb bg:rose-md bg-opacity:20">
        <div class="relative w:100p sm:max-w:576 px:24 sm:px:0 flex flex:col align-items:center justify-content:center text:left">
            {# Content #}
            <div class="relative w:100p flex flex:col align-items:start justify-content:between mb:48 sm:mb:72">
                <h3 class="w:100p relative font:lg leading:160 mb:16 font:4xl medium leading:100 tighter">Campaign strategy</h3>
                <p class="w:100p relative font:lg leading:160">
                    This campaign's targeting strategy differed from previous ones. Since the goal was to attract new users, there was no retargeting involved. Instead, we launched a series of campaigns targeting users based on geographical region and general interests such as sports, investing, and health.
                    <br><br>
                    Given the broad targeting, this campaign also served as an awareness initiative to reach new markets and educate potential users about the various treatments Hims offers. The user journey began with a generic quiz page that directed them to a landing page tailored to their selected interest.
                </p>
            </div>
            {# Image #}
            <div class="relative flex align-items:center justify-content:center w:100p h:384 radius:2xl mb:48 sm:mb:72 overflow:hidden">
                <div class="absolute w:100p h:100p">
                    <img src="/assets/images/project-multi-question.webp" class="w:100p h:100p object:cover" loading="lazy" alt="cardboard box animating open">
                </div>
            </div>
            {# Content #}
            <div class="relative w:100p flex flex:col align-items:start justify-content:between mb:48 sm:mb:72">
                <h3 class="w:100p relative font:lg leading:160 mb:16 font:4xl medium leading:100 tighter">Landing page design</h3>
                <p class="w:100p relative font:lg leading:160">
                    Our data suggested that providing too much information on landing pages could be overwhelming, especially for users with lower intent. Therefore, these landing pages were designed to be clear, concise, and to quickly convey our value proposition, commonly prescribed treatments, and what to expect from Hims.
                    <br><br>
                    The visual design focused on simplicity. Through careful imagery selection, streamlined sections, and a clear information hierarchy, I created a series of clean, brand-centric, and easy-to-digest pages. Initially, the quiz featured three questions, but early data led us to pivot to a single-question format, which then directed users immediately to the relevant landing page.
                </p>
            </div>
            {# Image #}
            <div class="relative flex align-items:center justify-content:center w:100p h:384 radius:2xl mb:48 sm:mb:72 overflow:hidden">
                <div class="absolute w:100p h:100p">
                    <img src="/assets/images/project-sex-collage.webp" class="w:100p h:100p object:cover" loading="lazy" alt="cardboard box animating open">
                </div>
            </div>
            {# Content #}
            <div class="relative w:100p flex flex:col align-items:start justify-content:between mb:48 sm:mb:72">
                <h3 class="w:100p relative font:lg leading:160 mb:16 font:4xl medium leading:100 tighter">Results and insights</h3>
                <p class="w:100p relative font:lg leading:160">
                    Measuring the success of a new approach can be challenging without a clear control page(s) for comparison. However, the key takeaway from this test was that category-specific landing pages perform better at the top of the funnel when paired with category-specific ads. While this campaign didn't achieve extraordinary results, it was successful in that 90% of the visitors reached were new to Hims. This exposure significantly expanded our audience.
                </p>
            </div>
        </div>
    </section>

     {# Next Project #}
    <section class="section section:pb bg:rose-md bg-opacity:20">
        <div class="container flex align-items:center justify-content:center">
            {# Inner #}
            <div class="relative w:100p flex flex:col sm:flex:row align-items:center justify-content:between py:24 sm:py:48 px:24 sm:px:48 bg:red sm:h:512 radius:2xl sm:radius:6xl gap:48 sm:gap:96 shadow:xl">
                <div class="relative flex flex:col align-items:start justify-content:center gap:16 w:100p h:100p">
                    <h4 class="font:lg sm:font:3xl color:black tracking:normal inline-flex highlight-creme">Next project</h4>
                    <h3 class="relative font:6xl sm:font:10xl medium leading:110 tracking:tight color:rose-md w:100p mb:8">Newsroom</h3>
                    <a href="#" class="relative btn btn:lg btn:black btn:black:hover">View project</a>
                </div>
                <div class="relative w:100p flex align-items:center justify-content:center h:320 sm:h:100p radius:xl sm:radius:4xl overflow:hidden">
                    <div class="absolute w:100p h:100p">
                        <img src="/assets/images/project-multi-next.webp" class="w:100p h:100p object:cover" alt="next project teaser">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/assets/javascript/project.js"></script>