---
layout: "main.njk"
seoTitle: "Kerry Stilling: Sex Quiz Landing Page"
seoDescription: "Project overview"
ogTitle: "Kerry Stilling: Sex Quiz Landing Page"
ogDesc: "Project overview"
ogImage: "/assets/images/og/kerry-og.webp"
ogImageAlt: "branded shapes"
year: "2024"
role: "Design engineer"
category: "Landing page"
theme: light
changefreq: daily
---
{% import "components/_graphics.njk" as graphics %}


<main class="overflow:hidden">
    {# Hero #}
     <section data-marquee-trigger class="section py:72 sm:section:py sm:min-h:100vh bg:creme overflow:hidden">
        {# Marquee #}
        <div class="absolute hidden bottom:n20 sm:bottom:n48 opacity:4 w:100p top:center leading:100 sm:flex align-items:center justify-content:center uppercase font:10xl sm:font:16vw">
            <div data-marquee-title class="relative space:nowrap" style="transform: translateX(224px);">Better sex Better sex Better sex Better sex Better sex</div>
        </div>
            <div class="container flex align-items:center justify-content:center">
                <div class="relative flex flex:col flex:col-reverse sm:flex:row align-items:center justify-content:center gap:24 sm:gap:48 sm:gap:96 text:left w:100p h:100p">
                    {# Image #}
                    <div class="relative flex align-items:center justify-content:center w:100p h:320 sm:h:448 radius:2xl overflow:hidden">
                        <div class="absolute w:100p h:100p">
                            <img src="/assets/images/project-sex-hero.webp" class="w:100p h:100p object:cover" alt="cardboard box animating open">
                        </div>
                    </div>
                    {# Hero Content #}
                    <div class="relative w:100p h:100p py:24 sm:min-h:448 flex flex:col-reverse sm:flex:col align-items:start justify-content:between sm:max-w:448 gap:32 sm:gap:none">
                        <div class="relative flex flex:col align-items:start justify-content:center gap:16">
                            <h2 class="font:8xl sm:font:10xl medium leading:90 tracking:tighter"><span class="font:serif italic">Hims<br></span>Sex Quiz</h2>
                            <p class="relative font:lg leading:160">
                                Users tend to convert better once into the consultation funnel if they first complete a quiz. This project was a big design swing in an effort to beat an older quiz's performance.
                            </p>
                            <a href="https://hims-better-sex-quiz.webflow.io" class="relative btn btn:md btn:black btn:black:hover" target="_blank">View page</a>
                        </div>
                        <div class="relative flex flex:col align-items:center justify-content:center text:left w:100p">
                            <div class="relative flex sm:flex:row align-items:center justify-content:between w:100p bg:rose-md bg-opacity:70 radius:full py:12 px:24 font:xs sm:font:sm tracking:normal">
                                <p><span class="medium">Role: </span> {{ role }}</p>
                                <p><span class="medium">Project type: </span> {{ category }}</p>
                                <p class="medium hidden sm:block">{{ year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    {# Opening Section #}
    <section class="section section:py bg:rose-md bg-opacity:20 radius:2xl sm:radius:6xl sm:radius-bl:none sm:radius-br:none">
        <div class="container flex align-items:center justify-content:center">
            <div class="relative w:100p flex flex:col align-items:center justify-content:center">
                {# Content #}
                <div class="relative w:100p flex flex:col sm:flex:row align-items:start justify-content:between gap:24 sm:gap:none mb:48 sm:mb:72">
                    <h3 class="font:7xl medium leading:100 tracking:tight w:100p">
                        Project overview
                    </h3>
                    <p class="w:100p relative font:lg leading:160 max-w:448">
                        With design being such a key pillar at Hims we always try to improve craft without sacrificing an experience's performance. I built this experience in Webflow, but it was a team effort between myself and the staff designer on the project.
                    </p>
                </div>
                {# Graphics #}
                <div class="relative w:100p flex align-items:center justify-content:center h:100p max-h:384 sm:max-h:512 radius:2xl overflow:hidden">
                    <img src="" alt="">
                    <picture class="relative h:100p">
                        <source media="(min-width: 768px)" srcset="/assets/images/project-sex-intro-d.webp">
                        <source media="(max-width: 767px)" srcset="/assets/images/project-sex-intro-m.webp">
                        <img src="/assets/images/hiw_project_1_d.webp" class="relative w:100p h:auto object:cover" loading="lazy" width="1120" height="512" alt="How it works project">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {# Deep Dive #}
    <section class="section section:pb bg:rose-md bg-opacity:20">
        <div class="relative w:100p sm:max-w:576 px:24 sm:px:0 flex flex:col align-items:center justify-content:center text:left">
            {# Content #}
            <div class="relative w:100p flex flex:col align-items:start justify-content:between mb:48 sm:mb:72">
                <h3 class="w:100p relative font:lg leading:160 mb:16 font:4xl medium leading:100 tighter">Strategic context</h3>
                <p class="w:100p relative font:lg leading:160">
                    The <a href="https://www.hims.com/" class="link-rg" target="_blank">Hims homepage</a> receives substantial traffic from both paid channels and organic sources, with a significant portion of visitors showing interest in ED medication. Multiple teams, including mine, continually optimize the site to enhance user experience, set appropriate expectations, and drive more qualified conversions.
                    <br><br>
                    During my tenure at Hims, the homepage has undergone numerous optimizations to achieve these objectives. For this project, our hypothesis was that a redesigned ED quiz experience would perform better. The entry point for this quiz is the 'Have great sex' tile on the homepage.
                </p>
            </div>
            {# Image #}
            <div class="relative flex align-items:center justify-content:center w:100p h:384 radius:2xl mb:48 sm:mb:72 overflow:hidden">
                <div class="absolute w:100p h:100p">
                    <img src="/assets/images/project-sex-screen.webp" class="w:100p h:100p object:cover" loading="lazy" alt="cardboard box animating open">
                </div>
            </div>
            {# Content #}
            <div class="relative w:100p flex flex:col align-items:start justify-content:between mb:48 sm:mb:72">
                <h3 class="w:100p relative font:lg leading:160 mb:16 font:4xl medium leading:100 tighter">Design approach</h3>
                <p class="w:100p relative font:lg leading:160">
                    The redesign aimed to offer a more premium experience, using enhanced visual elements and effects to convey our brand's premium positioning. This approach complements our expanding range of premium medications, such as innovative chews and multi-benefit options like <a href="https://news.hims.com/newsroom/hims-hers-expands-into-cardiovascular-health-with-new-dual-action-capabilities" class="link-rg" target="_blank">Sex Rx and Heart Support</a>, which combines ED meds with statins.
                    <br><br>
                    Additionally, the quiz was designed to better guide users through the top-of-funnel journey. It included functionality for higher-intent users to skip the quiz and directly enter the medical intake flow, while lower-intent users could take the quiz to gather more information about commonly prescribed medications, how they work, testimonials, and more.
                </p>
            </div>
            {# Image #}
            <div class="relative flex align-items:center justify-content:center w:100p h:384 radius:2xl mb:48 sm:mb:72 overflow:hidden">
                <div class="absolute w:100p h:100p">
                    <img src="/assets/images/project-sex-collage.webp" class="w:100p h:100p object:cover" loading="lazy" alt="cardboard box animating open">
                </div>
            </div>
            {# Content #}
            <div class="relative w:100p flex flex:col align-items:start justify-content:between mb:48 sm:mb:72">
                <h3 class="w:100p relative font:lg leading:160 mb:16 font:4xl medium leading:100 tighter">The results</h3>
                <p class="w:100p relative font:lg leading:160">
                    Historically, initiating users with a brief quiz before the medical intake has proven effective. The new quiz was A/B tested against a <a href="https://www.hims.com/consult-start-ed-qn" class="link-rg" target="_blank">longstanding version</a>. Unfortunately, the new quiz did not outperform the existing one. While performance was comparable, the lack of statistically significant improvement means we won’t implement the new design in the CMS.
                </p>
            </div>
            {# Content #}
            <div class="relative w:100p flex flex:col align-items:start justify-content:between mb:48 sm:mb:72">
                <h3 class="w:100p relative font:lg leading:160 mb:16 font:4xl medium leading:100 tighter">Learning opportunities</h3>
                <p class="w:100p relative font:lg leading:160">
                    Even unsuccessful tests provide valuable insights. Although teams like paid acquisition, landing pages, and flow optimizations work collaboratively to some extent, they often operate in silos for smaller optimizations. One hypothesis for the quiz's lackluster performance is that the improved flow was too similar to the existing one, causing user drop-off and fatigue due to repetition. While much of this work is subjective, each test and data point brings us closer to delivering the exceptional experience we strive for. 
                </p>
            </div>
        </div>
    </section>

     {# Next Project #}
    <section class="section section:pb bg:rose-md bg-opacity:20">
        <div class="container flex align-items:center justify-content:center">
            {# Inner #}
            <div class="relative w:100p flex flex:col sm:flex:row align-items:center justify-content:between py:24 sm:py:48 px:24 sm:px:48 bg:red sm:h:512 radius:2xl sm:radius:6xl gap:24 sm:gap:96 shadow:xl">
                <div class="relative flex flex:col align-items:start justify-content:center gap:16 w:100p h:100p">
                    <h4 class="font:lg sm:font:3xl color:black tracking:normal inline-flex highlight-creme">Next project</h4>
                    <h3 class="relative font:6xl sm:font:10xl medium leading:110 tracking:tight color:rose-md w:100p mb:8">How It Works</h3>
                    <a href="/hims-multi-cat" class="relative btn btn:lg btn:black btn:black:hover">View project</a>
                </div>
                <div class="relative w:100p flex align-items:center justify-content:center h:320 sm:h:100p radius:xl sm:radius:4xl overflow:hidden">
                    <div class="absolute w:100p h:100p">
                        <img src="/assets/images/project-hiw-cover-m.webp" class="w:100p h:100p object:cover" alt="next project teaser">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/assets/javascript/project.js"></script>