---
layout: "main.njk"
seoTitle: "Kerry Stilling: The search and tab title"
seoDescription: "This is the description that shows up in search engines."
ogTitle: "This is the title that shows up in social cards"
ogDesc: "This is the description that shows up in social cards"
ogImage: "/assets/images/og/default.png"
ogImageAlt: "This is the alt text for social cards images"
theme: light
changefreq: daily
---

<main data-page="home">

    <section class="section section:py min-h:100vh bg:rose-md">
        <div class="container flex flex:col align-items:center gap:48 text:center pb:48">
            <div class="flex flex:col align-items:start gap:16">
                <h1 data-headline class="font:serif font:12vw sm:font:8xl md:font:11xl lg:font:120 light tracking:tighter leading:110">
                    Imaginative designer with <div class="italic bg:sheet-4 inline-flex px:8">mediocre</div> engineering skills
                </h1>
            </div>
        </div>
    </section>

    <section class="section min-h:640 pt:192 overflow:hidden">
        <div class="container">
            <p class="mb:20">Todo:</p>
            <ul class="list:disc flex flex:col gap:12">
                <li>Add foundational analytics and events</li>
                <li>{{ base.url }}</li>
            </ul>
        </div>
    </section>

</main>